<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Playground</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      CONFIG = <%=raw JSON.generate(config) %>;
      ENVIRONMENT = <%=raw JSON.generate(Rails.env) %>;
      RELEASE = <%=raw JSON.generate(release) %>;
      SENTRY_DSN = <%=raw JSON.generate(Rails.application.credentials.sentry_dsn) %>;
      STRIPE_PUBLISHABLE_KEY = <%=raw JSON.generate(Rails.application.credentials.stripe_publishable_key) %>;
      IMGIX_HOST = <%=raw JSON.generate(ENV['IMGIX_HOST']) %>;
    </script>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag "application.scss" %>
    <%= vite_typescript_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
