<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Playground</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      CONFIG = <%=raw JSON.generate(config) %>;
    </script>
    <%= tag.meta name: "environment", content: Rails.env %>
    <%= tag.meta name: "release", content: release %>
    <%= tag.meta name: "authentication-id", content: Current.authentication&.id %>
    <%= tag.meta name: "mapbox-access-token", content: Rails.application.credentials.mapbox_access_token %>
    <%= tag.meta name: "sentry-dsn", content: Rails.application.credentials.sentry_dsn %>
    <%= tag.meta name: "stripe-publishable-key", content: Rails.application.credentials.stripe_publishable_key %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
